<a href="https://colab.research.google.com/github/Sol20201/Challenge_Phyton1/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

En este primer análisis, calculamos el ingreso total de cada tienda. Sumando los valores de la columna "Precio" de cada conjunto de datos de la tienda para estimar los ingresos.

In [4]:
suma_total_tienda1 = tienda["Precio"].sum()

In [5]:
print(f"Ingreso total de la tienda 1: {suma_total_tienda1}")

Ingreso total de la tienda 1: 1150880400.0

In [6]:
suma_total_tienda2 = tienda2["Precio"].sum()

In [7]:
print(f"Ingreso total de la tienda 2: {suma_total_tienda2}")

Ingreso total de la tienda 2: 1116343500.0

In [8]:
suma_total_tienda3 = tienda3["Precio"].sum()

In [9]:
print(f"Ingreso total de la tienda 3: {suma_total_tienda3}")

Ingreso total de la tienda 3: 1098019600.0

In [10]:
suma_total_tienda4 = tienda4["Precio"].sum()

In [11]:
print(f"Ingreso total de la tienda 4: {suma_total_tienda4}")

Ingreso total de la tienda 4: 1038375700.0

In [12]:
ingreso_tiendas_df = pd.DataFrame({
    "tiendas": ["Tienda 1", "Tienda 2", "Tienda 3", "Tienda 4"],
    "ingresos": [suma_total_tienda1, suma_total_tienda2, suma_total_tienda3, suma_total_tienda4]
})

In [43]:
print(f"Ingreso total por tienda:\n \n {ingreso_tiendas_df}")

Ingreso total por tienda:

     tiendas      ingresos
0  Tienda 1  1.150880e+09
1  Tienda 2  1.116344e+09
2  Tienda 3  1.098020e+09
3  Tienda 4  1.038376e+09

In [16]:
# menor ingreso
indice_menor_ingreso = ingreso_tiendas_df["ingresos"].idxmin()
tienda_menor_ingreso = ingreso_tiendas_df.loc[indice_menor_ingreso, "tiendas"]

In [19]:
print(f"La tienda con el menor ingreso es: {tienda_menor_ingreso}")

La tienda con el menor ingreso es: Tienda 4

# 2. Ventas por categoría

calcular la cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda.

In [20]:
ingreso_categoria_tienda1 = tienda.groupby("Categoría del Producto")["Precio"].sum()
ingeso_categoria_tienda2 = tienda2.groupby("Categoría del Producto")["Precio"].sum()
ingeso_categoria_tienda3 = tienda3.groupby("Categoría del Producto")["Precio"].sum()
ingeso_categoria_tienda4 = tienda4.groupby("Categoría del Producto")["Precio"].sum()

In [24]:
ingreso_categoria_tiendad_df = pd.DataFrame({
    "Tienda 1": ingreso_categoria_tienda1,
    "Tienda 2": ingeso_categoria_tienda2,
    "Tienda 3": ingeso_categoria_tienda3,
    "Tienda 4": ingeso_categoria_tienda4
})

In [45]:
# Tiendas x categorias
print(f"Categorias más vendidas por tienda: \n \n {ingreso_categoria_tiendad_df}" )

Categorias más vendidas por tienda:

                             Tienda 1     Tienda 2     Tienda 3     Tienda 4
Categoría del Producto
Artículos para el hogar   12698400.0   14746900.0   15060000.0   15074500.0
Deportes y diversión      39290000.0   34744500.0   35593100.0   33350100.0
Electrodomésticos        363685200.0  348567800.0  329237900.0  283260200.0
Electrónicos             429493500.0  410831100.0  410775800.0  409476100.0
Instrumentos musicales    91299000.0  104990300.0   77380900.0   75102400.0
Juguetes                  17995700.0   15945400.0   19401100.0   20262200.0
Libros                     8784900.0   10091200.0    9498700.0    9321300.0
Muebles                  187633700.0  176426300.0  201072100.0  192528900.0

In [27]:
# Categorias populares x tienda, TOP 3

top_categorias = 3
top_categorias_tienda1 = ingreso_categoria_tienda1.nlargest(top_categorias)
top_categorias_tienda2 = ingeso_categoria_tienda2.nlargest(top_categorias)
top_categorias_tienda3 = ingeso_categoria_tienda3.nlargest(top_categorias)
top_categorias_tienda4 = ingeso_categoria_tienda4.nlargest(top_categorias)

top_categorias_tienda1_df = pd.DataFrame({
    "Categoría": top_categorias_tienda1.index,
    "Ventas": top_categorias_tienda1.values
})

top_categorias_tienda2_df = pd.DataFrame({
    "Categoría": top_categorias_tienda2.index,
    "Ventas": top_categorias_tienda2.values
})

top_categorias_tienda3_df = pd.DataFrame({
    "Categoría": top_categorias_tienda3.index,
    "Ventas": top_categorias_tienda3.values
})

top_categorias_tienda4_df = pd.DataFrame({
    "Categoría": top_categorias_tienda4.index,
    "Ventas": top_categorias_tienda4.values
})

In [28]:
print("Top 3 categorías más populares en la tienda 1:")
print(top_categorias_tienda1_df)
print("\nTop 3 categorías más populares en la tienda 2:")
print(top_categorias_tienda2_df)
print("\nTop 3 categorías más populares en la tienda 3:")
print(top_categorias_tienda3_df)
print("\nTop 3 categorías más populares en la tienda 4:")
print(top_categorias_tienda4_df)

Top 3 categorías más populares en la tienda 1:
           Categoría       Ventas
0       Electrónicos  429493500.0
1  Electrodomésticos  363685200.0
2            Muebles  187633700.0

Top 3 categorías más populares en la tienda 2:
           Categoría       Ventas
0       Electrónicos  410831100.0
1  Electrodomésticos  348567800.0
2            Muebles  176426300.0

Top 3 categorías más populares en la tienda 3:
           Categoría       Ventas
0       Electrónicos  410775800.0
1  Electrodomésticos  329237900.0
2            Muebles  201072100.0

Top 3 categorías más populares en la tienda 4:
           Categoría       Ventas
0       Electrónicos  409476100.0
1  Electrodomésticos  283260200.0
2            Muebles  192528900.0

# 3. Calificación promedio de la tienda

Calcular las calificaciones promedio de los clientes para cada tienda. El objetivo es conocer la satisfacción del cliente con los productos vendidos.

In [49]:
# Calificación promedio de clientes x tienda
calificacion_tienda1 = tienda["Calificación"].mean()
calificacion_tienda2 = tienda2["Calificación"].mean()
calificacion_tienda3 = tienda3["Calificación"].mean()
calificacion_tienda4 = tienda4["Calificación"].mean()

calificaciones_tiendas_df = pd.DataFrame({
    "Tiendas": ["Tienda 1", "Tienda 2", "Tienda 3", "Tienda 4"],
    "Calificación": [calificacion_tienda1, calificacion_tienda2, calificacion_tienda3, calificacion_tienda4]
})

In [50]:
print(f"Calificación promedio por tienda: \n \n {calificaciones_tiendas_df}")

Calificación promedio por tienda:

     Tiendas  Calificación
0  Tienda 1      3.976685
1  Tienda 2      4.037304
2  Tienda 3      4.048326
3  Tienda 4      3.995759

# 4. Productos más y menos vendidos

identificar qué productos fueron los más vendidos y los menos vendidos en cada tienda. Visualiza los resultados para que quede claro qué productos destacaron en ventas en cada tienda.

In [34]:
ingreso_productos_vendidos_tienda1 = tienda.groupby("Producto")["Precio"].sum()
ingreso_productos_vendidos_tienda2 = tienda2.groupby("Producto")["Precio"].sum()
ingreso_productos_vendidos_tienda3 = tienda3.groupby("Producto")["Precio"].sum()
ingreso_productos_vendidos_tienda4 = tienda4.groupby("Producto")["Precio"].sum()

top_productos_vendidos_tiendas = 3
top_productos_vendidos_tienda1 = ingreso_productos_vendidos_tienda1.nlargest(top_productos_vendidos_tiendas)
top_productos_vendidos_tienda2 = ingreso_productos_vendidos_tienda2.nlargest(top_productos_vendidos_tiendas)
top_productos_vendidos_tienda3 = ingreso_productos_vendidos_tienda3.nlargest(top_productos_vendidos_tiendas)
top_productos_vendidos_tienda4 = ingreso_productos_vendidos_tienda4.nlargest(top_productos_vendidos_tiendas)

top_productos_menos_tiendas = 3
top_productos_menos_tienda1 = ingreso_productos_vendidos_tienda1.nsmallest(top_productos_menos_tiendas)
top_productos_menos_tienda2 = ingreso_productos_vendidos_tienda2.nsmallest(top_productos_menos_tiendas)
top_productos_menos_tienda3 = ingreso_productos_vendidos_tienda3.nsmallest(top_productos_menos_tiendas)
top_productos_menos_tienda4 = ingreso_productos_vendidos_tienda4.nsmallest(top_productos_menos_tiendas)

top_productos_vendidos_df= pd.DataFrame({
    "Tienda 1": top_productos_vendidos_tienda1.index,
    "Tienda 2": top_productos_vendidos_tienda2.index,
    "Tienda 3": top_productos_vendidos_tienda3.index,
    "Tienda 4": top_productos_vendidos_tienda4.index
})

top_productos_menos_df= pd.DataFrame({
    "Tienda 1": top_productos_menos_tienda1.index,
    "Tienda 2": top_productos_menos_tienda2.index,
    "Tienda 3": top_productos_menos_tienda3.index,
    "Tienda 4": top_productos_menos_tienda4.index
})

In [51]:
print(f" Productos más vendidos por tienda-TOP 3: \n \n {top_productos_vendidos_df}" )

 Productos más vendidos por tienda-TOP 3:

         Tienda 1       Tienda 2       Tienda 3       Tienda 4
0  TV LED UHD 4K      Iphone 15   Refrigerador      Iphone 15
1   Refrigerador  TV LED UHD 4K  TV LED UHD 4K  TV LED UHD 4K
2      Iphone 15   Refrigerador      Iphone 15       Smart TV

In [52]:
print(f" Productos menos vendidos por tienda-TOP 3: \n \n {top_productos_menos_df}" )

 Productos menos vendidos por tienda-TOP 3:

              Tienda 1            Tienda 2            Tienda 3  \
0  Cuerda para saltar     Cubo mágico 8x8     Cubo mágico 8x8
1      Dinosaurio Rex      Dinosaurio Rex      Dinosaurio Rex
2     Cubo mágico 8x8  Cuerda para saltar  Cuerda para saltar

             Tienda 4
0  Cuerda para saltar
1     Cubo mágico 8x8
2      Dinosaurio Rex

# 5. Envío promedio por tienda

In [54]:
costo_envio_tienda1 = tienda["Costo de envío"].mean()
costo_envio_tienda2 = tienda2["Costo de envío"].mean()
costo_envio_tienda3 = tienda3["Costo de envío"].mean()
costo_envio_tienda4 = tienda4["Costo de envío"].mean()

costo_envio_tiendas_df = pd.DataFrame({
    "Tiendas": ["Tienda 1", "Tienda 2", "Tienda 3", "Tienda 4"],
    "Costo de envío": [costo_envio_tienda1, costo_envio_tienda2, costo_envio_tienda3, costo_envio_tienda4]
})

In [55]:
print(f"Costo promedio de envío por tienda: \n \n {costo_envio_tiendas_df}")

Costo promedio de envío por tienda:

     Tiendas  Costo de envío
0  Tienda 1    26018.609580
1  Tienda 2    25216.235693
2  Tienda 3    24805.680373
3  Tienda 4    23459.457167